parameters:
  level: 5

  paths:
    - web/modules/custom
    - web/themes/custom
    - web/profiles/custom

  excludePaths:
    - web/core
    - web/modules/contrib
    - web/themes/contrib
    - web/profiles/contrib
    - vendor
