<section{{ attributes.addClass('ed-section', 'ed-section--cta-block') }}>
  <div class="ed-container">
    <div class="ed-cta">
      <h2 class="ed-section__title">{{ paragraph.field_heading.value }}</h2>
      {% if paragraph.field_text.value %}
        <div class="ed-section__intro">{{ content.field_text }}</div>
      {% endif %}
      {% if content.field_link %}
        <div class="ed-actions">{{ content.field_link }}</div>
      {% endif %}
    </div>
  </div>
</section>
